.home-margin{
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.ddl-level{
  width: 32%;
}

.lbl-level{
width: 100%;
}