:root {
  color: #ffffff;
  background-color: #121213eb;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/5172066.jpg");
  background-size: 100vw 100vh;
}

